
.mobile-content {
    display: none; 
}
.desktop-content {
    display: block; 
}

.weatherIconSection {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.weatherIcon {
    max-width: 80%; 
}

.weatherTemperature {
    margin-top: 5px; 
}

.weatherIconSectionMB {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}
.weatherIconSectionMB img {
    width: 30%;
    height: auto;
}
.weatherTemperatureMB {
    font-size: 30px;
    font-weight: 400;
}
.weatherLocationMB {
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 600px) {
    .mobile-content {
        display: block;
    }
    .desktop-content {
        display: none; 
    }
}

.searchSection, .search, .weatherIconSection, 
.weatherTemperature, .weatherLocation {
    display: flex;
    justify-content: center;
}

.searchSection{
    gap: 3%;
}
.searchSection input {
    display: flex;
    width: 80%;
    height: 30px;
    background-color:beige;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 2% 2% 2% 5%;
    color: #626262;
    font-size: 17px;
    font-weight: 400;
}
.search {
    align-items: center;
}

