body {
  font-family: Arial, sans-serif;
  margin: 1%;
  padding: 1%;
}
.container {
  display: flex;
  flex-direction: column;
}
.top-row {
  display: flex;
  flex-wrap: wrap;
}
.weather, .news, .tasks {
  padding: 1%;
  border: 2px solid black;
  border-radius: 20px;
  flex-grow: 1;
  margin-bottom: 1%;
}
.weather {
  flex-grow: 1;
  order: 1;
  margin-right: 1%;
}
.news {
  flex-grow: 3;
  order: 2;
}
.tasks {
  flex-grow: 3;
}
@media (max-width: 600px) {
  .top-row {
    flex-direction: column;
  }
  .weather, .news {
    margin-right: 0;
    flex-basis: 100%;
  }
}
@media (min-width: 600px) {
  .weather {
    flex-basis: 7%;
  }
}