body {
  font-family: Arial, sans-serif;
  margin: 1%;
  padding: 1%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.top-row {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
}
.weather, .news, .tasks {
  padding: 1%;
  border: 2px solid black;
  border-radius: 20px;
  flex-grow: 1;
  margin-bottom: 1%;
}
.weather {
  flex-grow: 1;
  width: 35%;
  height: 80%;
  order: 1;
  margin-right: 1%;
}
.news {
  flex-grow: 3;
  width: 65%;
  height: 80%;
  order: 2;
}
.tasks {
  flex-grow: 3;
}
@media (max-width: 600px) {
  .weather, .news {
    width: 100%;
    margin-right: 0;
  }
  .weather {
    height: 180px;
  }
  .news {
    height: 200px;
  }
  .tasks {
    margin-top: 44%;
  }
}
@media (min-width: 600px) {
  .weather {
    flex-basis: 7%;
  }
}